<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <style>
            .table th { border-top: 0; }
            .content { margin-top: 20px; }
            .footer { border-top: solid 1px #dee2e6; padding-top: 10px; font-size: x-small; color: #ccc; }
        </style>
        <title>IRYO PoC</title>
    </head>
    <body>
    <div class="container">
        <h1>Hello, {{.Type}}</h1>
        <h2>{{.Name}}</h2>

        <div class="content">
            {{ if .Connected }}
                {{ if .Connections }}
                <table class="table">
                    <thead>
                        <tr>
                            <!--th scope="col">#</th>-->
                            <th scope="col">Patient</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{range $i, $c := .Connections}}
                            <tr>
                                <!--<th scope="row">{{ $i }}</th>-->
                                <td><a href="/ehr/{{ $c }}">{{ $c }}</a></td>
                            </tr>
                        {{end}}
                    </tbody>
                </table>
                {{ else }}
                    You have no patients
                {{ end }}
                <form action="/request">
                    <div class="input-group mb-3">
                        <input name="to" type="text" class="form-control" placeholder="Patient's account name" aria-label="Patient's account name" aria-describedby="basic-addon2">
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary" type="submit">Request access</button>
                        </div>
                    </div>
                </form>
                {{ range $i, $c := .Granted}}
                {{ $c }}
                <form action="/request">
                    <div class="input-group mb-3">
                        <input name="to" type="hidden" class="form-control" value="{{ $c }}">
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary" type="submit">Request key</button>
                        </div>
                    </div>
                </form>
                <form action="/ignore">
                    <p class="input-group mb-3">
                        <input name="to" type="hidden" class="form-control" value="{{ $c }}">
                        <p class="input-group-append">
                            <button class="btn btn-outline-secondary" type="submit">Ignore</button>
                        </p>
                    </p>
                </form>

                {{ end }}

                <div class="footer">
                    <div>Private key: {{.Private}}</div> 
                    <div>Publuc key: {{.Public}}</div>
                    <div>Contract address: {{ .Contract }}</div> 
                </div>            
                <div>
                    <a href="/close">Close connection</a>
                </div>
            {{ else }}
                <div>
                    <a href="/connect">Connect</a>
                </div>  
            {{ end }}

        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    </body>
</html>
