<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <style>
            .table th { border-top: 0; }
            .content { margin-top: 20px; }
            textarea { display: none !important; }
            .footer { border-top: solid 1px #dee2e6; padding-top: 10px; font-size: x-small; color: #ccc; }
        </style>
        <title>IRYO PoC</title>
    </head>
    <body>
    <div class="container">
        <h1>Hello, {{.Name}}</h1>
        <h2>{{.Public}}</h2>

        <h3>EHR for {{.Owner}}</h3>

        <a href="/">Back to home</a>

        {{if .Error}}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            {{.Error}}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {{else}}

        <div class="content">


            <ul class="nav nav-tabs" id="myTab" role="tablist">
                {{ if .GraphData }}
                <li class="nav-item">
                    <a class="nav-link active" id="graphs-tab" data-toggle="tab" href="#graphs" role="tab" aria-controls="graphs" aria-selected="true">Graphs</a>
                </li>
                <li class="nav-item">
                        <a class="nav-link" id="add-tab" data-toggle="tab" href="#add" role="tab" aria-controls="add" aria-selected="false">Add data</a>
                    </li>    
                {{ else }}

                <li class="nav-item">
                        <a class="nav-link active" id="add-tab" data-toggle="tab" href="#add" role="tab" aria-controls="add" aria-selected="false">Add data</a>
                    </li> 

                {{ end }}

                <li class="nav-item">
                    <a class="nav-link" id="files-tab" data-toggle="tab" href="#files" role="tab" aria-controls="files" aria-selected="false">Files content</a>
                </li>
            </ul>
            <div class="tab-content" id="myTabContent">
                
                {{ if .GraphData }}
                <div class="tab-pane fade show active" id="graphs" role="tabpanel" aria-labelledby="graphs-tab">
                                <canvas id="chart" class="chart" data-ehr="{{ .GraphData }}" style="width: 50%"></canvas>
                </div>
                {{ end }}
                {{ if .GraphData }}
                <div class="tab-pane fade" id="add" role="tabpanel" aria-labelledby="add-tab">
                {{ else }}
                <div class="tab-pane fade show active" id="add" role="tabpanel" aria-labelledby="add-tab">                
                {{ end }}
                    <form action="/save">
                        <input name="owner" type="hidden" value="{{ .OwnerUsername }}"/>
                        Weight:<br>
                        <input  type="number" step="0.1" name="weight" placeholder="75"> kg <br>
                        Glucose:<br>
                        <input type="number" step="0.1" name="glucose" placeholder="6.5"> mmol/l <br>
                        Blood Pressure:<br>
                        Systolic: <input type="number" step="0.1" name="systolic" placeholder="120"> mm[Hg] <br>
                        Diastolic <input type="number" step="0.1" name="diastolic" placeholder="70"> mm[Hg] <br><br>

                        <button class="btn btn-primary" type="submit">Save</button>
                    </form>
                </div>

                <div class="tab-pane fade" id="files" role="tabpanel" aria-labelledby="files-tab">
                    {{ if .EHRData }}
                    <div>
                        {{range $i, $c := .EHRData}}
                            <h1>{{ $i }}</h1>
                            <div class="form-control" name="data" rows="10">{{ $c }}</div>
                        {{end}}
                    </div>
                    {{else}}
                        <div> No data found for {{ .Owner }}</div> 
                    {{end}}
                </div>
            </div>
            {{ end }}
            <div class="footer">
                Contract address: {{ .Contract }}
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.20.1/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>


    <script>
            updateChart()
            
            function updateChart(){
            canvas = document.getElementById("chart")
            var chart = new Chart(document.getElementById("chart"), {
                type: 'line',
                data: getChartData(canvas.dataset.ehr.replace("map","")),
                options: {
                    scales: {
                        xAxes: [{
                            type: 'time'
                            }]
                    }
                }
            })
            }
        
            function getChartData(s){
            var color = 1
            var chartData = {datasets:[]}
            jsonData = JSON.parse(s)
            for ( name in jsonData ){
                el = jsonData[name]
                currentElementData = {
                    data:[],
                    label:name,
                    fill:false,
                    borderColor:VBColorToHEX(color),
                    lineTension:0
                }
                    for (i in el["Timestamp"]){
                    currentElementData.data.push({x:el["Timestamp"][i], y: el["Value"][i]})
                }
                chartData.datasets.push(currentElementData)
                color = color * 255
        
            }
            return chartData
            }
        
            function VBColorToHEX(i) {
            var bbggrr =  ("000000" + i.toString(16)).slice(-6);
            var rrggbb = bbggrr.substr(4, 2) + bbggrr.substr(2, 2) + bbggrr.substr(0, 2);
            return "#" + rrggbb;
            }
            
            var parser = document.createElement('a');
            var ws = new WebSocket("ws://"+window.location.host+"/ws")
        
            ws.onmessage = function(event){
                document.getElementById("chart").dataset.ehr = event.data
                updateChart()    
            }
                </script>
            </body>
</html>
