<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <style>
            .table th { border-top: 0; }
            .content { margin-top: 20px; margin-bottom: 50px }
            textarea { display: none !important; }
            .footer { border-top: solid 1px #dee2e6; padding-top: 10px; font-size: x-small; color: #ccc;}
        </style>
        <title>IRYO PoC</title>
    </head>
    <body>
    <div class="container">
        <h1>Hello, {{.Name}}</h1>
        <h2>{{.Username}}</h2>
        <img src="data:image/png;base64, {{ .Qr }}" alt="Cannot load image" style="width: 150px;height: 150px">

        {{if .Error}}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            {{.Error}}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {{end}}
    
        <div class="content">
        {{ if .Connected }}
        {{ if not .IsDoctor }}
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Manage my connections</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">My EHR</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="connected-tab" data-toggle="tab" href="#connected" role="tab" aria-controls="connected" aria-selected="false">Connected</a>
                </li>
            </ul>

            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                    <table class="table">
                        <thead>
                            <tr>
                                <!--th scope="col">#</th>-->
                                <th scope="col">User</th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody>
                            {{range $i, $c := .GrantedTo}}
                                <tr>
                                    <!--<th scope="row">{{ $i }}</th>-->
                                    <td>{{ $c }}</td>
                                    <td>
                                        <form action="/revoke"> 
                                            <input type="hidden" name="to" value="{{ $i }}">
                                            <button class="btn btn-secondary float-right" type="submit">Revoke access</button>
                                        </form>
                                    </td>
                                </tr>
                            {{end}}
                        </tbody>
                    </table>

                    <form action="/grant">
                        <div class="input-group mb-3">
                            <input name="to" type="text" class="form-control" placeholder="User's account name" aria-label="User's account name" aria-describedby="basic-addon2">
                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary" type="submit">Grant access</button>
                            </div>
                        </div>
                    </form>
    
                    {{ range $i, $c := .Requested}}
                    {{ $c }}
                    <form action="/grant">
                        <div class="input-group mb-3">
                            <input name="to" type="hidden" class="form-control" value="{{ $i }}">
                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary" type="submit">Grant access</button>
                            </div>
                        </div>
                    </form>
                    <form action="/deny">
                        <p class="input-group mb-3">
                            <input name="to" type="hidden" class="form-control" value="{{ $i }}">
                            <p class="input-group-append">
                                <button class="btn btn-outline-secondary" type="submit">Deny access</button>
                            </p>
                        </p>
                    </form>

                    {{ end }}
                </div>
               

                <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                    {{ if .EHRData }}
                    
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link show active" id="viewEhr-tab" data-toggle="tab" href="#viewEhr" role="tab" aria-controls="viewEhr" aria-selected="true">Graphs</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="addEhr-tab" data-toggle="tab" href="#addEhr" role="tab" aria-controls="addEhr" aria-selected="false">Add Data</a>
                        </li>
                    </ul>

                    <div class="tab-content" id="myTabContent">

                        <div class="tab-pane fade show active" id="viewEhr" role="tabpanel" aria-labelledby="viewEhr-tab">
                                <input type="text" id="timepicker" name="datetimes" style="width: 25%"/>
                                <br>
                                <canvas id="chart" class="chart" data-ehr="{{ .EHRData }}" style="width: 50%"></canvas>
                        </div>

                        <div class="tab-pane fade" id="addEhr" role="tabpanel" aria-labelledby="addEhr-tab">
                        {{end}}
                            <form action="/save">
                                    Weight:<br>
                                    <input  type="number" step="0.1" name="weight" placeholder="75"> kg <br>
                                    Glucose:<br>
                                    <input type="number" step="0.1" name="glucose" placeholder="6.5"> mmol/l <br>
                                    Blood Pressure:<br>
                                    Systolic: <input type="number" step="0.1" name="systolic" placeholder="120"> mm[Hg] <br>
                                    Diastolic <input type="number" step="0.1" name="diastolic" placeholder="70"> mm[Hg] <br><br>

                                <button class="btn btn-primary" type="submit">Save</button>
                            </form>
                        {{ if .EHRData}}
                        </div>
                    </div>
                    {{end}}
                </div>

                <div class="tab-pane fade" id="connected" role="tabpanel" aria-labelledby="connected-tab">
                    {{ end }}
                        {{ if .GrantedFrom }}
                        <table class="table">
                            <thead>
                                <tr>
                                    <!--th scope="col">#</th>-->
                                    <th scope="col">User</th>
                                </tr>
                            </thead>
                            <tbody>
                                {{range $i, $c := .GrantedFrom}}
                                    <tr>
                                        <!--<th scope="row">{{ $i }}</th>-->
                                        <td><a href="/ehr/{{ $i }}">{{ $c }}</a></td>
                                    </tr>
                                {{end}}
                            </tbody>
                        </table>
                        {{ else }}
                            You have no connected users
                        {{ end }}
                        <form action="/request">
                            <div class="input-group mb-3">
                                <input name="to" type="text" class="form-control" placeholder="Patient's account name" aria-label="Friend's account name" aria-describedby="basic-addon2">
                                <div class="input-group-append">
                                    <button class="btn btn-outline-secondary" type="submit">Request access</button>
                                </div>
                            </div>
                        </form>
                        {{ range $i, $c := .Granted}}
                        {{ $c }}
                        <form action="/request">
                            <div class="input-group mb-3">
                                <input name="to" type="hidden" class="form-control" value="{{ $i }}">
                                <div class="input-group-append">
                                    <button class="btn btn-outline-secondary" type="submit">Request key</button>
                                </div>
                            </div>
                        </form>
                        <form action="/ignore">
                            <p class="input-group mb-3">
                                <input name="to" type="hidden" class="form-control" value="{{ $i }}">
                                <p class="input-group-append">
                                    <button class="btn btn-outline-secondary" type="submit">Ignore</button>
                                </p>
                            </p>
                        </form>
                        {{ end }}
                    {{ if not .IsDoctor}}
                    </div>
                </div>
                {{ end }}

                <div class="footer">
                    <div>Private key: {{.Private}}</div> 
                    <div>Public key: {{.Public}}</div>
                    {{ if not .IsDoctor}}
                    <a href="/reencrypt">Reencrypt data</a>
                    {{end}}
                    {{ if eq .Type "Doctor"}}
                    <div>
                        <a href="/switchMode">Switch to {{if .IsDoctor}}patient{{else}}doctor{{end}} mode</a>
                    </div>
                    {{end}}
                    
                    <div>
                        <a href="/close">Close connection</a>
                    </div>
                    {{ else }}
                    <div>
                        <a href="/connect">Connect</a>
                    </div>  
                    {{end}}
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.20.1/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
    

    <script>
    var minDate = 0
    var maxDate = 0
    canvas = document.getElementById("chart")
    var chart = new Chart(document.getElementById("chart"), {
        type: 'line',
        data: getChartData(canvas.dataset.ehr.replace("map","")),
        options: {
            scales: {
                xAxes: [{
                    type: 'time'
                    }]
            }
        }
    })

    function getChartData(s){
        var color = 1
        var chartData = {datasets:[]}
        jsonData = JSON.parse(s)
        for ( name in jsonData ){
            el = jsonData[name]
            currentElementData = {
                data:[],
                label:name,
                fill:false,
                borderColor:VBColorToHEX(color),
                lineTension:0
            }
            
            // set current max/mins
            if (Date.parse(el.Timestamp[0]) < minDate || minDate === 0){
                minDate = Date.parse(el.Timestamp[0])
            }
            if (Date.parse(el.Timestamp[el.Timestamp.length - 1]) > maxDate || maxDate === 0){
                maxDate = Date.parse(el.Timestamp[el.Timestamp.length - 1])
            }

                for (i in el["Timestamp"]){
                    ts = Date.parse(el["Timestamp"][i])
                    value = el["Value"][i]
                currentElementData.data.push({x: ts, y: value})
            }
            if (currentElementData.data.length == 0){
                continue
            }
            chartData.datasets.push(currentElementData)
            color = color * 255

        }
        return chartData
    }

    function VBColorToHEX(i) {
    var bbggrr =  ("000000" + i.toString(16)).slice(-6);
    var rrggbb = bbggrr.substr(4, 2) + bbggrr.substr(2, 2) + bbggrr.substr(0, 2);
    return "#" + rrggbb;
    }
    
    var ws = new WebSocket("ws://"+window.location.host+"/ws")

    ws.onmessage = function(event){
        ele = document.getElementById("chart")
        // dont update the graph unless the currently open user is the one being updated
        if (JSON.parse(event.data.slice(0, event.data.indexOf("}")+1)).account == "{{ .Username }}"){
            ele.dataset.ehr= event.data.slice(event.data.indexOf("}")+1, event.data.length)
            chart.data.datasets=getChartData(ele.dataset.ehr).datasets
            
            chart.update()
        }
    }

    $('#timepicker').on('apply.daterangepicker', function(ev, picker) {
        chart.options.scales.xAxes[0].time.min = Date.parse(picker.startDate.format())
        chart.options.scales.xAxes[0].time.max = Date.parse(picker.endDate.format())
        chart.update()
    });

    $('input[name="datetimes"]').daterangepicker({
        timePicker: true,
        startDate: moment(minDate),
        endDate: moment().add(1, 'hour'),
        minDate: moment(minDate),
        maxDate: moment().add(1, 'hour'),
        locale: {
        format: 'DD/M hh:mm A'
        }
    });

        </script>
    </body>
</html>
