<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <style>
            .table th { border-top: 0; }
            .content { margin-top: 20px; }
            textarea { display: none !important; }
            .footer { border-top: solid 1px #dee2e6; padding-top: 10px; font-size: x-small; color: #ccc; }
        </style>
        <title>IRYO PoC</title>
    </head>
    <body>
    <div class="container">
        <h1>Hello, {{.Type}}</h1>
        <h2>{{.Name}}</h2>
        <img src="data:image/png;base64, {{ .Qr }}" alt="Cannot load image" style="width: 150px;height: 150px">

        {{if .Error}}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            {{.Error}}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {{end}}
        
        <div class="content">

            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Connections</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">EHR</a>
                </li>
            </ul>

            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                    <table class="table">
                        <thead>
                            <tr>
                                <!--th scope="col">#</th>-->
                                <th scope="col">Doctor</th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody>
                            {{range $i, $c := .Connections}}
                                <tr>
                                    <!--<th scope="row">{{ $i }}</th>-->
                                    <td>{{ $c }}</td>
                                    <td>
                                        <form action="/revoke">
                                            <input type="hidden" name="to" value="{{ $c }}"> </input>
                                            <button class="btn btn-secondary float-right" type="submit">Revoke access</button>
                                        </form>
                                    </td>
                                </tr>
                            {{end}}
                        </tbody>
                    </table>

                    <form action="/grant">
                        <div class="input-group mb-3">
                            <input name="to" type="text" class="form-control" placeholder="Doctor's account name" aria-label="Doctor's account name" aria-describedby="basic-addon2">
                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary" type="submit">Request access</button>
                            </div>
                        </div>
                    </form>
    
                    {{ range $i, $c := .Requested}}
                    {{ $i }}
                    <form action="/grant">
                        <div class="input-group mb-3">
                            <input name="to" type="hidden" class="form-control" value="{{ $i }}">
                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary" type="submit">Grant access</button>
                            </div>
                        </div>
                    </form>
                    <form action="/deny">
                        <p class="input-group mb-3">
                            <input name="to" type="hidden" class="form-control" value="{{ $i }}">
                            <p class="input-group-append">
                                <button class="btn btn-outline-secondary" type="submit">Deny access</button>
                            </p>
                        </p>
                    </form>

                    {{ end }}
                </div>
               

                <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                        <form action="/save">
                                Weight:<br>
                                <input  type="number" step="0.1" name="weight" placeholder="75"> kg <br>
                                Glucose:<br>
                                <input type="number" step="0.1" name="glucose" placeholder="6.5"> mmol/l <br>
                                Blood Pressure:<br>
                                Systolic: <input type="number" step="0.1" name="systolic" placeholder="120"> mm[Hg] <br>
                                Diastolic <input type="number" step="0.1" name="diastolic" placeholder="70"> mm[Hg] <br><br>

                            <button class="btn btn-primary" type="submit">Save</button>
                        </form>
                        <br>
                    {{range $i, $c := .EHRData}}
                    <h1>{{ $i }}</h1>
                    <pre>{{ $c }}</pre><br>
                    {{end}}

    
                </div>
                <div class="footer">
                    <div>Private key: {{.Private}}</div> 
                    <div>Publuc key: {{.Public}}</div>    
                    <p>Contract address: {{ .Contract }}</p>
                    <a href="/reencrypt">Reencrypt data</a>
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.20.1/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>


    <script>
        $(document).ready(function() {
            var data = $("textarea").val().split("\n").filter(function(point) {
                return point.split(",").length == 2
            }).map(function(point) {
                var parts = point.split(",")
                return {
                    x: new Date(parseInt(parts[0])),
                    y: parseInt(parts[1])
                }
            })

            var ctx = document.getElementById('chart').getContext('2d')
            var chart = new Chart(ctx, {
                type: 'line',

                data: {
                    datasets: [{
                        label: "Heart rate",
                        backgroundColor: 'rgb(255, 99, 132)',
                        borderColor: 'rgb(255, 99, 132)',
                        data: data,
                    }]
                },
                options: {
                    scales: {
                        xAxes: [{
                            type: 'time',
                            distribution: 'series'
                        }]
                    }
                }
            })

            $("#add").click(function() {
                var point = {
                    x: Date.now(),
                    y: Math.floor(Math.random() * 60) + 100
                }

                $("textarea").val($("textarea").val() + "\n" + point.x + "," + point.y)
                chart.data.datasets[0].data.push(point)
                chart.update()
            })

        })
    </script>

    </body>
</html>
